.module-form > input, .module-form > button, .module-form > label {
	display: block;
	margin-top: 10px;
}

.module-form label {
	font-size: 90%;
}

.module-form--error {
	display: block;
	color: rgb(126, 61, 61);
	height: 0px;
	transition: height 0.2s ease-out;
}

.module-form--error.show {
	height: 16px;
}